{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}ChatRoom{% endblock title %}

{% block content %}
<h3>{{ room }}</h3>
{% for message in messages %}
  {{ message.message }}
{% endfor %}
<label>Your Message</label>
<input type="text" placeholder="message">
<button type="submit" class="waves-effect waves-light btn">Message</button>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://d36qkdzj2aieo9.cloudfront.net/channels/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="http://d36qkdzj2aieo9.cloudfront.net/channels/chat.js">
{% endblock %}
